.d1 {
    background-color: tomato;
}
.d2 {
    background-color: orange;
}
.d3 {
    background-color: gold;
}
.d4 {
    background-color: yellowgreen;
}
.d5 {
    background-color: lightseagreen;
}
.container{
    font-size: 40px;
    width: 100%;
    background-color: lightgray;
    display: grid;
    grid-template-columns: 100px 100px 100px;
}